---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Services from '../components/Services.astro';
import Equipment from '../components/Equipment.astro';
import Portfolio from '../components/Portfolio.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import ThePrice from '../components/ThePrice.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Navbar />
	<main class="pt-16">
		<Hero />
		<About />
		<Equipment />
		<Portfolio />
		<Services />
		<Contact />
		<ThePrice />
	</main>
	<Footer />
</Layout>
